h1 {
    font-size: 6em;
    color: rgb(24, 7, 97);
}
h2 {
    font-size: 4em;
    color: rgb(143, 23, 23);
}
h3 {
    font-size: 1em;
    color: rgb(9, 168, 44);
    text-indent: 30px;
}

